@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,500,500italic,600,600italic,&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

._nav {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

._nav__logo a > img {
  max-width: 250px;
}

._nav__link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

._nav__link-menu > li:not(:first-child) {
  margin-left: 35px;
}

._nav__link-item {
  color: black;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

._nav__link-item::after {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  display: inline;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 3px;
  background-color: orange;
}

._nav__link-item:hover {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  text-shadow: 2px 1px 4px orange;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: orange;
}

._nav__link-item:hover::before {
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

._nav__link-item:hover::after {
  width: 100%;
  opacity: 0.5;
}

._nav__link-item.icon-setting {
  margin-right: 15px;
}

._nav__link-item.icon-setting::before {
  font-size: 24px;
  color: #f39c7a;
  position: absolute;
  left: 105%;
}

.main__container {
  position: relative;
  padding-bottom: 15px;
}

.main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__text {
  font-size: 18px;
  line-height: 30px;
  margin: 20px 10px 20px 15px;
  max-width: 500px;
}

.main__text p {
  text-indent: 25px;
}

.main__title {
  font-size: 28px;
  font-weight: 700;
}

.main__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
}

.main__photo-box {
  width: 400px;
  height: 500px;
  background: transparent;
  overflow: hidden;
}

.main__photo-screen {
  width: 100%;
  height: 100%;
}

.social__item-link {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social__item-link > span::before {
  font-size: 32px;
  margin-right: 20px;
}

.social__item-link > a::before {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  font-size: 32px;
  margin-right: 20px;
}

.social__item-link > a {
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 10px 0;
}

.social__item-link > a:hover {
  color: orange;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.social__item-link > a:hover::before {
  -webkit-transform: rotate(40deg) scale(1.02);
  -ms-transform: rotate(40deg) scale(1.02);
  transform: rotate(40deg) scale(1.02);
}

.education__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 15px;
  position: relative;
}

.education__info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
}

.education__info p:not(:last-child) {
  margin-bottom: 10px;
}

.education__info p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
  margin-right: 10px;
}

.skill__container {
  position: relative;
  padding-bottom: 15px;
}

.skill__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info__item {
  min-width: 300px;
}

.info__item h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.info__item p {
  font-size: 18px;
  text-indent: 25px;
  line-height: 25px;
}

.info__item p::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: orange;
  margin-right: 5px;
  border-radius: 50%;
}

.project__dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 50px;
}

.dashboard__card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 300px;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.dashboard__card a {
  color: black;
}

.dashboard__card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.dashboard__card-small {
  width: 100px;
  height: 100px;
  background-size: contain;
  border-radius: 50%;
  -webkit-box-shadow: -1px -1px 3px;
  box-shadow: -1px -1px 3px;
}

.dashboard__card-body {
  position: absolute;
  left: 50px;
  top: 50px;
  padding: 15px 20px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px;
  box-shadow: 1px 1px 5px;
  border-radius: 5px;
  background: bisque;
}

.footer {
  position: relative;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
}

.footer__link {
  padding: 15px;
  position: relative;
}

.footer__link > a:not(:last-child) {
  margin-right: 30px;
}

.footer__item {
  font-size: 30px;
  font-weight: 100;
  color: rgb(38, 42, 46);
}

.footer__item:hover::before {
  display: inline-block;
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(20deg) scale(1.1);
  -ms-transform: rotate(20deg) scale(1.1);
  transform: rotate(20deg) scale(1.1);
}

.footer__copyright {
  opacity: 0.5;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.layout__card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.33%;
  flex: 1 1 33.33%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 200px;
  margin-right: 40px;
}

.layout__box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px;
}

.layout__box-screen {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}

.layout__box-title {
  margin-top: 25px;
}

.layout__box-subtitle {
  margin-top: 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.layout__box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.layout__box-button a {
  color: black;
  margin-top: 15px;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.layout__box-button a:hover {
  background-color: orange;
  border: 1px solid white;
  color: white;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.add_article_form__errors {
  color: red;
}

.add_article_form__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 300px;
  margin: 20px 0;
}

.add_article_form__input {
  border: 1px solid black;
  padding: 7px 5px;
}

html {
  overflow: hidden auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: black;
  position: relative;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__body {
  height: auto;
  min-height: 65%;
}

[class*=__container] {
  padding: 15px 15px 30px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

._line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(237, 237, 237)), color-stop(50%, rgb(0, 0, 0)), to(rgb(237, 237, 237)));
  background: -o-linear-gradient(left, rgb(237, 237, 237) 0%, rgb(0, 0, 0) 50%, rgb(237, 237, 237) 100%);
  background: linear-gradient(90deg, rgb(237, 237, 237) 0%, rgb(0, 0, 0) 50%, rgb(237, 237, 237) 100%);
}

.h2-title {
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 94, 0);
}

@media (max-width: 805px) {
  .main__text {
    max-width: 350px;
  }

  .social__item-link > a::before {
    margin-right: 10px;
  }
}

@media (max-width: 650px) {
  ._nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 25px;
  }

  ._nav__link-item {
    font-size: 16px;
  }

  .main__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .social__item-link {
    font-size: 16px;
  }

  .education__info p {
    font-size: 16px;
  }

  .info__item p {
    text-indent: 0px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .layout__card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 585px) {
  ._nav__logo a > img {
    max-width: 150px;
  }
}

@media (max-width: 520px) {
  .skill__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: baseline;
    -ms-flex-pack: baseline;
    justify-content: baseline;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .dashboard__card {
    min-width: 200px;
  }
}

@media (any-hover: hover) {
  .dashboard__card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}