<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='freelancehunt' content='20f30b4da7adf1f'>

    <link rel="stylesheet" href="css/style.css" th:href="@{${style}}" />
    <link rel="stylesheet" href="css/iconFont.css" th:href="@{${iconFont}}" />
    <link rel="icon" type="image/x-icon" href="img/favicon.png" />
    <title>Klevtsov</title>
</head>

<body>
    <header class="header">
        <div class="header__container _nav">
            <div class="_nav__logo">
                <a href="index.html" th:href="@{index}"><img src="../img/horizontal_on_white_by_logaster.png"
                        alt="Logo"></a>
            </div>
            <div class="_nav__link _line">
                <ul class="_nav__link-menu">
                    <li><a href="index.html#skill" class="_nav__link-item slide">Skill</a></li>
                    <li><a href="index.html#project" class="_nav__link-item icon-setting slide">Project</a>
                    </li>
                    <li><a href="cv" class="_nav__link-item">Download CV</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main main__body">
        <div class="main__container _line">
            <section class="main__section">
                <div class="main__text">
                    <h1 class="main__title">Dmitry Klevtsov</h1>
                    <p class="main__text">
                        I am a skilled and motivated web developer with experience in creating functional web
                        applications using HTML, CSS, PHP, JavaScript, Java, MySQL, as well as message brokers and
                        microservices architecture. I am proficient in building web services and software that meet
                        client needs and exceed expectations. I am ready to apply my knowledge and expertise to create
                        high-quality and innovative products for my clients.
                    </p>
                    <div class="main__social social">
                        <ul class="social__item">
                            <li class="social__item-link "><span class="icon-city"></span>Ukraine, Kiev</li>
                            <li class="social__item-link">
                                <a href="https://t.me/klevtsovDmitry" target="_blank" class="icon-telegram _soc"></a>
                                <a href="https://wa.me/+380633743814" target="_blank" class="icon-whatsapp _soc"></a>
                                <a href="tel:+380633743814">+38(063)374-38-14</a>
                            </li>
                            <li class="social__item-link"><span class="icon-google_in_circle"></span><a
                                    href="mailto:klewzow@gmail.com" class=" ">klewzow@gmail.com</a></li>
                            <li class="social__item-link"><span class="icon-github"></span><a
                                    href="https://github.com/klewzow?tab=repositories" target="_blank">@onGitHub</a>
                            </li>
                            <li class="social__item-link"><span class="icon-linkedin"></span><a
                                    href="https://www.linkedin.com/in/klevtsov-dmitry-054119221/"
                                    target="_blank">linkedIn</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main__photo">
                    <div class="main__photo-box">
                        <div class="main__photo-screen ibg">
                            <img src="../img/logo.png" alt="logo_photo">
                        </div>
                    </div>
                </div>

            </section>


        </div>




        <div class="education__container _line">
            <h2 class="h2-title">Education</h2>
            <div class="education__info">
                <p>Online courses prog.kiev.ua java developer &nbsp;->&nbsp; 05.2021 - 01.2022</p>
                <p>Online courses php/Jquery developer &nbsp; -> &nbsp;12.2010 - 02.2011</p>
                <p>National Transport University &nbsp;-> &nbsp;2004 - 2009</p>
            </div>

        </div>






        <section class="skill">
            <div class="skill__container _line " id="skill">
                <h2 class="h2-title">Skill</h2>
                <div class="skill__info info">
                    <div class="info__item ">
                        <h2> Key Skills:</h2>
                        <p>Java, OOP</p>
                        <p>Spring Framework</p>
                        <h2>Knowledge Of Technology:</h2>
                        <p>Java 8+</p>
                        <p>Multithreading. Collections Framework</p>
                        <p>Spring Stack: Boot, MVC, Data, Security</p>
                        <p>JDBC, JPA/Hibernate</p>
                        <p>JSP, JSTL, Thymeleaf</p>
                        <p>MySQL/PostgreSQL</p>
                        <p>Git, GitHub.</p>
                    </div>
                    <div class="info__item ">
                        <h2>Project assemblers</h2>
                        <p>Maven/Gradle</p>
                        <p>Gulp</p>
                        <h2>Front-end</h2>
                        <p>HTML/CSS/PHP</p>
                        <p>SASS/LESS/SCSS</p>
                        <h2>Basic</h2>
                        <p>JavaScript/Jquery/Ajax</p>
                        <p>C#/C++</p>
                        <p>Phyton</p>
                    </div>
                </div>
            </div>
        </section>




        <div class="section project">

            <div class="project__container project " id="project">
                <h2 class="h2-title">Project</h2>

                <div class="project__dashboard dashboard">

                    <div class="dashboard__card">
                        <a href="java.html" th:href="java" class="dashboard__card-item">
                            <div class="dashboard__card-small ibg">
                                <img src="../img/project/java.png" alt="">
                            </div>
                            <div class="dashboard__card-body">
                                Java project
                            </div>
                        </a>
                    </div>
                    <div class="dashboard__card">
                        <a href="layout.html" th:href="layout" class="dashboard__card-item">
                            <div class="dashboard__card-small ibg">
                                <img src="../img/project/layout.png" alt="">
                            </div>
                            <div class="dashboard__card-body">
                                Layout
                            </div>
                        </a>
                    </div>
                    <div class="dashboard__card">
                        <a href="c.html" th:href="c" class="dashboard__card-item">
                            <div class="dashboard__card-small ibg">
                                <img src="../img/project/imgbin_c-file-input-output-png.png" alt="">
                            </div>
                            <div class="dashboard__card-body">
                                C# project
                            </div>
                        </a>
                    </div>


                </div>

            </div>
        </div>




    </div>


    <footer class="footer">

        <div class="footer__container">
            <div class="footer__link">
                <a href="mailto:klewzow@gmail.com"> <span class="icon-google_min footer__item"></span></a>
                <a href="https://github.com/klewzow?tab=repositories" target="_blank"> <span
                        class="icon-github footer__item"></span></a>
                <a href="https://t.me/klevtsovDmitry" target="_blank"> <span
                        class="icon-telegram footer__item"></span></a>
                <a href="https://wa.me/+380633743814" target="_blank"> <span
                        class="icon-whatsapp footer__item"></span></a>
            </div>
            <div class="footer__copyright">
                copyright © 2022
            </div>

        </div>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>