<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='freelancehunt' content='20f30b4da7adf1f'>

    <link rel="stylesheet" href="/css/style.css" th:href="@{${style}}" />
    <link rel="stylesheet" href="/css/iconFont.css" th:href="@{${iconFont}}" />
    <link rel="icon" type="image/x-icon" href="img/favicon.png" />
    <title>Klevtsov</title>
</head>

<body>
    <header class="header">
    <div class="header__container _nav"> 
    <div class="_nav__logo">
        <a href="index.html " th:href="index">
            <img src="../img/horizontal_on_white_by_logaster.png" alt="">
        </a>
    </div>
    <div class="_nav__link _line">
        <ul class="_nav__link-menu">
            <li><a href="index.html#skill" th:href="@{index#skill}"  class="_nav__link-item slide">Skill</a></li>
            <li><a href="index.html#project"   th:href="@{index#project}" class="_nav__link-item icon-setting slide">Project</a></li>
            <li><a href="cv" class="_nav__link-item">Download CV</a></li>
        </ul>
    </div>
</div>
</header>

        <div class="main__body">
    <div class="main__container layout">

        <div class="layout__card">
            <div class="layout__box">
                <div class="layout__box-screen ibg">
                    <img src="img/layout/jooj.png" alt="">
                </div>
                <div class="layout__box-title">Jewelry online store</div>
                <div class="layout__box-subtitle">HTML/CSS/JS</div>
                <div class="layout__box-button">
                    <a href="https://klewzow.github.io/gabonna" target="_blank">Demo</a>
                    <a href="https://github.com/klewzow/gabonna" target="_blank">Code</a>
                </div>

            </div>
        </div>

        <div class="layout__card">
            <div class="layout__box">
                <div class="layout__box-screen lbg">
                    <img src="img/layout/parcing.png" alt="">
                </div>
                <div class="layout__box-title">Зarking company</div>
                <div class="layout__box-subtitle">HTML/CSS/JS/Jquery</div>
                <div class="layout__box-button">
                    <a href="https://parking-ofn1l7h6m-klewzow.vercel.app/" target="_blank">Demo</a>
                    <a href="https://github.com/klewzow/parking" target="_blank">Code</a>
                </div>
            </div>
        </div>

        <div class="layout__card">
            <div class="layout__box">
                <div class="layout__box-screen lbg">
                    <img src="img/layout/nature.png" alt="">
                </div>
                <div class="layout__box-title">3D Nature</div>
                <div class="layout__box-subtitle">HTML/CSS/JS</div>
                <div class="layout__box-button">
                    <a href="https://3d-nature-layout.vercel.app/" target="_blank">Demo</a>
                    <a href="https://github.com/klewzow/3d_nature_layout" target="_blank">Code</a>
                </div>
            </div>
        </div>
    </div>

    </div>


        <footer class="footer">

    <div class="footer__container">
        <div class="footer__link">
            <a href="mailto:klewzow@gmail.com"> <span class="icon-google_min footer__item"></span></a>
            <a href="https://github.com/klewzow?tab=repositories" target="_blank"> <span
                    class="icon-github footer__item"></span></a>
            <a href="https://t.me/klevtsovDmitry" target="_blank"> <span class="icon-telegram footer__item"></span></a>
            <a href="https://wa.me/+380633743814" target="_blank"> <span class="icon-whatsapp footer__item"></span></a>
        </div>
        <div class="footer__copyright">
            copyright © 2022
        </div>

    </div>
</footer>


              <script src="js/script.js"></script>
</body>

 </html>